.headingWrapper {
  /* font-size: clamp(1.44rem, 1.1329rem + 1.3104cqi, 2.1484rem); */
  display: flex;
  flex-direction: column;
  width: 80%;
  max-width: 20rem;
}

.title {
  line-height: 0.8;
}

.highlight {
  color: var(--retro-pink);
  font-weight: 600;
}

.subtitleWrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.dynamicStage {
  margin-bottom: 5rem;
  height: 10rem; /* Adjust this so your largest dynamic word doesn't get cut off */
}

.dynamicText {
  width: 100%;
  color: var(--retro-yellow);
  font-weight: 500;
  text-transform: uppercase;
  white-space: nowrap; /* Forces Fitty to scale rather than wrap */
}

.dynamicLine {
  display: block;
  width: 100%;
  line-height: 0.95; /* Tightens up the space between stacked Fitty lines */
}
