.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  container-type: inline-size;
  margin-top: -4rem;
  background-color: var(--retro-cream);
  padding-top: 4rem;
  min-height: 100vh;
  color: var(--retro-brown);
  user-select: none;
}

.headerContainer {
  max-width: 80%;
  font-weight: 400;
  font-size: 2rem;
  letter-spacing: 0.025rem;
  text-align: center;
}

@container (min-width: 50rem) {
  .headerContainer {
    font-size: 2.8rem;
  }
}

.highlight {
  color: var(--retro-pink);
  font-weight: 500;
}

.subtitleWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 8rem;
}

.dynamicText {
  display: block;
  color: var(--retro-yellow);
  font-weight: 500;
  text-align: center;
}

.linkButton {
  display: inline-block;
  background-color: var(--retro-pink);
  padding: 0.5em 1.5em;
  color: var(--retro-cream);
  font-size: 1.4rem;
  text-decoration: none;
}

@container (min-width: 50rem) {
  .linkButton {
    font-size: 1.875rem;
  }
}
