@import url("https://fonts.googleapis.com/css2?family=Shrikhand&family=Elms+Sans:ital,wght@0,100..900;1,100..900&display=swap");
/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

*:not(dialog) {
  margin: 0; /* Remove default margin but leave default padding*/
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
  overflow-wrap: break-word;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root,
#__next {
  isolation: isolate;
}

/* End of Josh's Custom CSS Reset */

:root {
  /* Tell the browser that this website supports both modes */
  color-scheme: light dark;

  /* Custom Global Colors */
  --retro-yellow: #f7b32b;
  --retro-pink: #f79d84;
  --retro-pink-darker: rgb(246, 135, 105);
  --retro-mint: #b7e4c7;
  --retro-cream: #fff8e1;
  --retro-brown: #6b4226;
  --retro-dark-brown: #1c1612;

  /* Semantic Variables for Element Colors */
  --bg-surface: light-dark(var(--retro-cream), var(--retro-dark-brown));
  --text-primary: light-dark(var(--retro-brown), var(--retro-cream));
  --text-accent-primary: light-dark(var(--retro-mint), var(--retro-mint));
  --text-accent-secondary: light-dark(
    var(--retro-pink-darker),
    var(--retro-pink)
  );
  --btn-primary: light-dark(var(--retro-brown), var(--retro-yellow));
  --btn-text-primary: light-dark(var(--retro-cream), var(--retro-brown));
  --btn-secondary: light-dark(var(--retro-brown), var(--retro-yellow));
  --btn-text-secondary: light-dark(var(--retro-brown), var(--retro-yellow));
  --btn-hover: light-dark(var(--retro-yellow), var(--retro-cream));

  /* Custom Global Fonts */
  --main-font: "Elms Sans", sans-serif;
  --accent-font: "Shrikhand", cursive;
}

:root[data-theme="light"] {
  color-scheme: light;
}

:root[data-theme="dark"] {
  color-scheme: dark;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #1a1a1a;
  font-family: var(--main-font);
}
