@import url("https://fonts.googleapis.com/css2?family=Shrikhand&family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  background: #1a1a1a;
}
